body{
      background: #d9eeec;
      color: grey;
      margin: 0;
      text-align: center;
      font-family: 'Merriweather', serif;  
}

hr{
      border: dotted #EAF6F6 6px;
      border-bottom: none;
      width: 4%;
      margin: 100px auto;
}

h1{
      color: #66BFBF;
      margin: 50px auto 0 auto;
      font-size: 5.625rem;
      font-family: 'Sacramento', cursive;
}
 
h2{
      font-size: 40px;
      color: #66BFBF;
      font-family: 'Montserrat', sans-serif;
}

h3{
      font-size: 28px;
      font-family: 'Montserrat', sans-serif;
      color: #11999E;
}

h4{
      font-family: 'Montserrat', sans-serif;
      font-size: 2.5rem;
      margin-top: 15px;
      color: #66BFBF;
      font-weight: normal;
}

.intro{
      width: 30%;
      margin: 0 auto;
}

a{
      color: #11999E;
      text-decoration: none;
      padding: 0 5px;
      font-family: 'Montserrat', sans-serif;
}
a:hover{
      color: grey;
}


p{
      line-height: 2;
}

.top-container{
      height: 608px;
      padding: 100px 0 50px 0;
      background-color: #EAF6F6;
      position: relative;
}

.nav-bar{
      width: 500px;
      height: 30px;
      position: absolute;
      top: 30px;
      right: 10px;
      display: inline-block;
      text-decoration: powderblue;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      text-transform: uppercase;
}
.middle-container{
      margin: 50px auto;
}

.bottom-container{
      padding: 50px 10px 15px;
      margin-top: 80px;
      margin-bottom: 0px;
      background-color: #66BFBF;
}

.top-cloud{
      position: absolute;
      right: 18rem;
      top: 23rem;
}

.bottom-cloud{
      position: absolute;
      left: 16.25rem;
      top: 23rem;   
}


.code-image{
      width: 25%;
      border-radius: 50% 50%;
      float: left;
      margin-right: 30px;
}

.chatbot-image{
      width: 25%;
      border-radius: 50% 50%;
      float: right;
      margin-left: 30px;
}

.skills{
      margin-bottom: 200px;
}
.skill-row{
      width: 50%;
      margin: 50px auto 100px;
      text-align: left;
}

.work{
      padding: 200px auto;
}

.project-image{
      padding-top: 80px;
      display: inline-block;
      width: 300px;
      height: 170px;
      padding-right: 40px;
}


.footer-link{
      color: #11999E;
      margin: 30px auto;
}

.copyright{
      font-size: 0.75rem;
      padding-top: 40px;
      color: #EAF6F6;
}

.btn {
      background: #11cdd4;
      background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
      background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
      background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
      background-image: -o-linear-gradient(top, #11cdd4, #11999e);
      background-image: linear-gradient(to bottom, #11cdd4, #11999e);
      -webkit-border-radius: 8;
      -moz-border-radius: 8;
      border-radius: 8px;
      font-family: Arial;
      color: #ffffff;
      font-family: 'Montserrat', sans-serif;
      padding: 10px 20px 10px 20px;
      text-decoration: none;
    }

    .btn:hover {
      background: #30e3cb;
      background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
      background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
      background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
      background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
      background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
      text-decoration: none;
    }

.my-email{
      margin-bottom: 60px;
}    


@media only screen and (max-width: 480px) {
      body{
            width: 375px;
      }
      .top-container{
            width: 598px;
            padding: 100px 0 50px 0;
            background-color: #EAF6F6;
            position: relative;
      }
      h2{
            font-size: 50px;
      }
      .intro{
            width: 70%;
            margin: 0 auto;
      }
      .bottom-container{
            padding: 50px 0px 15px;
      }
      p{
            line-height: 2;
            font-size: 20px;
            width: 85%;
            margin: 0 auto;
      }
      .skill-row{
            width: 70%;
            margin: 50px auto 10px;
            text-align: center;
      }
      .code-image{    
            width: 45%;
            float: none;
            margin: 0 auto;
      }

      h3{
            font-size: 28px;
            font-family: 'Montserrat', sans-serif;
            color: #11999E;
      }  

      /*
      h3{
            font-size: 45px;
            text-align: center;
      }
      */
      .chatbot-image{    
            width: 50%;
            float: none;
            margin: 0 auto;
      }
      hr{
            border: dotted #EAF6F6 8px;
            border-bottom: none;
            width: 30%;
            margin: 100px auto;
      }
      
}


